$base-color: #dae4e9;
$button-color: #a7cad5;
$button-darker: #8aaab4;
$button-hover: #62c1e4;
$button-active:#3babd3;
$button-focus:#3babd3;
$shadow-color:rgb(146, 183, 194);
$tint-color:rgba(136, 184, 197, 0.1);