
.Contact {
    display:inline-block;
    box-sizing: border-box;
    width:100%;
    margin:0;
    padding:0;
    margin-top:20px;
}
form {
    padding:0;
}
.contactForm {
    width:100%;
    background-color: white;
    margin:auto;
    margin-top:0px;
    color:black;
    text-align:left;
    z-index: 0;
    position:static;
    z-index: 200;
    padding:0;
    overflow: hidden;
    box-shadow:0 0 28px rgb(146, 183, 194);
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
   
}

.myLabel {
    margin-left:40px;
    font-size:18px;
    margin-bottom:4px;
    display:block;
    margin-top:22px;
    text-transform: uppercase;
    opacity:.5;
    position: relative;
}
.contactForm label {
    margin-left:40px;
    font-size:18px;
    margin-bottom:4px;
    display:block;
    margin-top:22px;
    text-transform: uppercase;
    opacity:.5;
}
.contactForm input {
    display:block;
    width:calc(100% - 80px);
    margin-left:40px;
    margin-right:40px;
    padding:9px;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 600;
    color:rgb(92, 134, 146);
    outline-color:black;
    border-bottom:4px solid rgba(105, 168, 187,.2);
    cursor: pointer;
    padding-left:8px;
    padding-top:20px;
}

.contactForm input:hover {
    border-bottom:4px solid rgba(105, 168, 187,1);
}

.contactForm input:active {
    border-radius:8px;
    border-bototm:2px solid rgb(146, 183, 194);
    background-color:rgba(199, 236, 255, .5);
    font-size:24px;
    font-weight: 600;

}

.contactForm input:focus {
    font-size:24px;
    font-weight: 600;
    border-bottom:4px solid #7ebcd4;
    background-color:rgba(199, 236, 255, .5);

}

.contactForm input:visited {
    background-color:rgba(199, 236, 255, .5);
}

.contactForm input[type=email] {

}

.contactForm input[type=email]:active {

    background-color:rgba(199, 236, 255, .5);
}
.contactForm input[type=email]:focus {
    background-color:rgba(199, 236, 255, .5);
}

.contactForm input[type=email] :-internal-autofill-selected {
    background-color:rgba(199, 236, 255, .5);
}

.contactForm input:-internal-autofill-selected  {
    background-color:rgba(199, 236, 255, .5);
}

input:-internal-autofill-selected {
    background-color:rgba(199, 236, 255, .5);
}

/* input:-autofill {
    background-color:blue;
} */
input:-webkit-autofill {
    /* The following works as the text color for the autofill  */
  
    /* The following works as a background for the autofill  */
  -webkit-box-shadow: 0 0 0px 1000px  rgb(255,255,255) inset;  
    -webkit-text-fill-color: rgb(92, 134, 146);

}


.contactForm h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding-left:40px;
    padding-top:40px;

}
.contactForm h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding-left:40px;
    padding-top:4px;
}

button {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color:rgb(131, 166, 179);
    padding:12px;
    padding-left:20px;
    padding-right:20px;
    text-transform: uppercase;
    font-size:18px;
    color:white;
    margin-top:40px;
    margin-left:28px;
    border-radius:8px;
    border:2px solid rgb(131, 166, 179);
    user-select:none;
    cursor:pointer;
    margin-bottom:40px;
}

button:hover {
    background-color:rgba(98, 144, 161,1);
    border:2px solid rgba(98, 144, 161,1);
}

button:active {
    border:0;
    outline:0;
    background-color:rgb(76, 164, 196);
    border:2px solid rgb(76, 164, 196);


}

button:focus {
    border:0;
    outline:0;
    background-color:rgb(76, 164, 196);
    border:2px solid rgb(76, 164, 196);

}

textarea {
    min-width:calc( 100% - 80px);
    max-width:calc( 100% - 80px);
    margin-left:40px;
    margin-right:40px;
    box-sizing: border-box;
    border:2px solid rgba(255,255,255,.25);
    font-size:18px;
    padding:10px;
    font-family: futura-pt, sans-serif;
    background-color:white;
    font-size:24px;
    font-weight: 600;
    color:rgb(92, 134, 146);
    border-bottom:4px solid rgba(105, 168, 187,.2);
}

textarea:hover {
    border-bottom:4px solid rgba(105, 168, 187,1);
}

textarea:active {
    outline:none;
    border:none;
   
    font-size:28px;
    font-size:26px;
    background-color:rgba(199, 236, 255, .5);
    border-bottom:4px solid rgba(105, 168, 187,1);
}
textarea:focus {
    outline:none;
    border:none;
  
    font-size:28px;
    font-size:26px;
    background-color:rgba(199, 236, 255, .5);
    border-bottom:4px solid rgba(105, 168, 187,1);
}

.error {
    background-color:rgb(199, 21, 21);
    color:white;
    border:2px solid red;
    padding:30px;
    font-size:21px;
}

.contactButtons {
    text-align: center;
    margin:auto;
    padding:10px;
    padding-top:30px;
}
@media only screen and (min-width:800px) {

    .contactForm {
        overflow: hidden;
        width:80%;
        max-width:800px;    
        margin:auto;
 
        margin-top:0px;
        text-align:left;
    }

}


@media only screen and (max-width:740px) {
    .Contact  {
        margin-top:0px;
        padding-top:0;
    }
    .contactForm {
        padding-top:120px;
        margin-top:0;
    }
  }