@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

.homeContainer {
  min-height:1400px;
}
.Home {
    margin-top:0;
    box-sizing:border-box;
    display:inline-block;
    box-sizing: border-box;
    width:100%;
    display:block;
    padding-left:4%;
    padding-right:4%;
    padding-top:0;
    background-color:white;
    padding-bottom:0;
    box-shadow:0 0 28px rgb(146, 183, 194);
    margin-bottom:80px;
    max-height:20px;
    transition: all 2s;
  }

.homelogo {
  font-size:54px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align:left;
  margin-top:120px;
  line-height:1em;
}
.homeColumn1 {

  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  transition: all 3s;
}

.homeColumn2 {

  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  margin-top:0px;
  
}

.mugContainer {
    min-height:300px;
    overflow: hidden;
    margin-top:40px;
    text-align:left;
}

.mug {
  width:100%;
  max-width:450px;
  border-radius:8px;
  transition: all 3s;
}


.Home.state2 {
  max-height:1800px;
}
.hometag {
  font-size:24px;
  text-align:left;
  font-family: futura-pt, sans-serif;
  margin-top:18px;
  padding-right:20px;
}

.homebody{
  display:none;
}

.homebio {
  text-align:left;
  font-size:18px;
  font-family: futura-pt, sans-serif;
  line-height:30px;
  padding-top:20px;
  padding-right:5%;

}

.homebodyMobile {
  display:block;
}

.bartsShields {
  text-align:left;
  max-width:500px;
  display:none;

}

.shieldContainer {
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  text-transform: uppercase;
  padding:0px;
  width:62px;
  font-size:12px;
  padding-bottom:40px;
  float:left;
  height:72px;
  overflow: hidden;
  margin-bottom:40px;
  transition: all 1s;
  position: relative;
}

.shield {
text-align:center;
width:64px;

}



p.shieldTitle {
  text-align:left;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:24px;
  margin:0;
  margin-bottom:10px;
  margin-top:20px;
}


.mbutton {
  margin:0;
  display:inline-block;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color:rgb(164, 195, 206);
  padding:6px;
  padding-left:20px;
  padding-right:20px;
  text-transform: uppercase;
  font-size:18px;
  color:white;
  border-radius:8px;
  border:2px solid rgb(164, 195, 206);
  user-select:none;
  cursor:pointer;
  min-width:100px;
  text-align:center;
  margin-right:10px;
  margin-bottom:20px;
  transition:all .6s;
  position:relative;
  left:-40px;
  opacity:0;
}

.mbutton:hover {
  background-color:rgba(98, 144, 161,1);
  border:2px solid rgba(98, 144, 161,1);
}

.mbutton:active {
  border:0;
  outline:0;
  background-color:rgb(87, 188, 219);
  border:2px solid rgb(87, 188, 219);


}

.mbutton:focus {
  border:0;
  outline:0;
  background-color:rgb(87, 188, 219);
  border:2px solid rgb(87, 188, 219);

}

.shieldGroup {

}

@media only screen and (min-width:750px) {

  .Home {

    width:94%;
    margin:auto;
    margin-top:20px;
    padding-left:0;
    max-width:1050px;
    padding-bottom:40px;
  } 

  .homeColumn1 {
    padding-left:4%;
    width:45%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
  }
  
  .homeColumn2 {
    width:50%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    margin-top:80px;
    padding-left:10px;
  }

  .homebody{
    display:block;
  }
  .homebodyMobile {
    display:none;
  }
  
  .bartsShields {
    display:inline-block;
    float:left;
    transition:all 3s;

  }


  .shieldContainer {

    left:-100px;
  }


  .bartsShields.state1 {
    opacity:0;
  }
  .bartsShields.state2 {
    opacity:1;
  }

}

.state1 {
  opacity:0;
}

.state2 {
  opacity:1;
}

.shieldContainer.state2{
 left:0px;
}


.mbutton.state2 {
  left:0px;
  opacity:1;
}