@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

.Home {
  
    display:inline-block;
    box-sizing: border-box;
    width:calc(100% - 180px);
    max-width:1140px;
  }

.homelogo {
  font-size:54px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align:left;
  margin-top:120px;
  line-height:1em;
}
.homeColumn1 {
  
  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
}

.homeColumn2 {

  width:100%;
  box-sizing: border-box;
  display:block;
  vertical-align: top;
  margin-top:0px;
}

.mugContainer {
    min-height:300px;
    overflow: hidden;
    margin-top:40px;
    min-width:420px;
}

.mug {
  width:100%;
  min-height:300px;
  min-width:420px;
  border-radius:8px;
}
.hometag {
  font-size:24px;
  text-align:left;
  font-family: futura-pt, sans-serif;
  margin-top:18px;
  padding-right:20px;
}

.homebody{
  display:none;
}

.homebio {
  text-align:left;
  font-size:18px;
  font-family: futura-pt, sans-serif;
  line-height:30px;
  padding-right:30px;
  margin-right:30px;
  padding-top:20px;
  padding-bottom:80px;
  margin-bottom:80px;
}

.homebodyMobile {
  display:block;
}

.bartsShields {
  text-align:left;
  min-width:420px;
}

.shieldContainer {
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  text-transform: uppercase;
  padding:8px;
  width:25%;

}

.shield {
text-align:center;
width:70%;
}

p.shieldTitle {
  text-align:left;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size:24px;
  margin:0;
  margin-bottom:10px;
  margin-top:20px;
}

@media only screen and (min-width:900px) {

  .homeColumn1 {
 
    width:45%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
  }
  
  .homeColumn2 {
  
    width:50%;
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    margin-top:80px;
  }

  .homebody{
    display:block;
  }
  .homebodyMobile {
    display:none;
  }
  

}