.Projects {

    display:inline-block;
    box-sizing: border-box;
    width:calc(100% - 110px);
    max-width:940px;
}

.Project {
    width:440px;
    background-color:white;
    border-radius:8px;
    margin:8px;
    min-height:450px;
    display:inline-block;
    box-sizing: border-box;
}

.projectslogo {
    font-size:54px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align:left;
    margin-top:120px;
    margin-left:0px;
    line-height:1em;
  }