.Projects {
    display:inline-block;
    box-sizing: border-box;
    width:100%;
    max-width:1400px;
    text-align:center;
    text-align:center;
    padding:0;
    padding-bottom:300px;

}

.projectslogo {
    font-size:36px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align:left;
    margin-top:120px;
    margin-left:0px;
    line-height:1em;
    margin-left:40px;
    margin-bottom:30px;
  }


  @media only screen and (min-width:1140px) {
    .Projects {
        width:90%;
    }

  }

  @media only screen and (min-width:1340px) {
    .Projects {
        width:80%;
    }

  }