.Projects {

    display:inline-block;
    box-sizing: border-box;
    width:100%;
    max-width:1800px;
}

.projectslogo {
    font-size:54px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align:left;
    margin-top:120px;
    margin-left:0px;
    line-height:1em;
    margin-left:40px;
    margin-bottom:30px;
  }
  .projectImage {
      width:100%;
     cursor: pointer;

  }

