
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

.resumeBox {
    background-color:white;
    padding:20px;
    width:100%;
    color:black;
    margin:auto;
    border-radius:8px;
    text-align:left;
    margin-top:80px;
    padding-left:80px;
    padding-right:80px;
    padding-top:60px;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-family: 'Rubik', serif;
    box-shadow:0 0 20px #7ebcd4;
    padding-bottom:80px;
    margin-bottom:180px;
}

.clientList {
    column-count:1;
}
.livewebsiteList {
    column-count:1;
}

.resumeBox h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size:67px;
    letter-spacing:-.035em;
    margin:0;
    padding:0;
    line-height:.8em;
    margin-top:30px;
}

.resumeBox h2 {
    padding:0;
    margin:0;
    line-height:0;
    margin-top:26px;
    margin-bottom:8px;
}

.resumeBox ul {
    list-style:square;
    margin:0;
    padding:0;
}

.resumeBox ul li {
    margin-left:30px;
    font-size:18px;
    line-height:28px;
}
.resumeLink {
    color:rgb(68, 68, 146);
    font-weight: 700;
    font-size:18px;
}

.resumeLink:hover {
    color:rgb(63, 63, 214);
}

.resumeBox p {
    font-size:18px;
    line-height:30px;
    margin-top:0;
    padding-top:0;
}

@media only screen and (min-width:800px) {

    .resumeBox {
        background-color:white;
        padding:20px;
        width:90%;
        margin:auto;
        border-radius:8px;
        margin-top:80px;
        padding-left:80px;
        padding-right:80px;
        padding-top:60px;
        box-shadow:0 0 20px #7ebcd4;
        padding-bottom:80px;
        margin-bottom:180px;
    }


.clientList {
    column-count:2;
}
.livewebsiteList {
    column-count:2;
}


}

@media only screen and (min-width:1200px) {
    .resumeBox {
        background-color:white;
        padding:20px;
        width:80%;
        max-width:1400px;
        margin:auto;
        border-radius:8px;
        margin-top:80px;
        padding-left:80px;
        padding-right:80px;
        padding-top:60px;
        box-shadow:0 0 20px #7ebcd4;
        padding-bottom:80px;
        margin-bottom:180px;
    }

    .clientList {
        column-count:2;
    }
    .livewebsiteList {
        column-count:3;
    }
    
    
}