
@import "../Colors.scss";

.contactButtons {
    text-align: left;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:-70px;
}
.resumeBox {
    color:black;
    margin:auto;
    text-align:left;
    font-family: futura-pt, sans-serif;
    padding-bottom:80px;
    margin-top:0;
    display:inline-block;
    box-sizing: border-box;
    padding-top:40px;
    padding-left:3%;
    padding-right:5%;
    width:100%;
}

.resumeBox h2 {
    border-bottom:2px solid #333333;
    padding-bottom:4px;
}

.livewebsiteList {
    column-count:1;
}

.endorse {
    margin-top:80px;
}

.resumeBox h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size:54px;
    letter-spacing:-.035em;
    margin:0;
    padding:0;
    line-height:1em;
    margin-top:0px;
    padding-top:30px;
}

.resumeBox h2 {
    padding:0;
    margin:0;
    line-height:1em;
    margin-top:10px;
    margin-bottom:18px;
    font-family: futura-pt, sans-serif;
    font-size:24px;
    font-weight: 600;
}

.resumeBox h3 {
    padding:0;
    margin:0;
    line-height:1em;
    margin-top:36px;
    margin-bottom:18px;
    font-family: futura-pt, sans-serif;
    font-size:20px;
}

.resumeBox ul {
    list-style:square;
    margin:0;
    padding:0;
}

.resumeBox ul li {
    margin-left:30px;
    font-size:18px;
    line-height:24px;
    font-family: futura-pt, sans-serif;
}
.resumeLink {

}

.resumeLink:hover {
  
}

.resumeBox p {
    font-size:18px;
    line-height:24px;
    margin-top:0;
    padding-top:0;
    font-family: futura-pt, sans-serif;
}

.emailLinker {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding-right:10px;
}

.emailLinker img {
    width:54px;
    margin-right:2px;
    opacity:.3;
}

.emailLinker:hover {
   
}

.emailLinker:hover img {
    opacity:1;
}
.pdfLink {

    text-align: center;
    color:$button-color;
    display:inline-block;
    float:right;
    margin-bottom:10px;
}

.googleLink {
    text-align: center;
    display:inline-block;
    float:right;
    color:$button-color;
    margin-bottom:10px;
    position:relative;
    left:20px;
    margin-right:10px;
}
.docIcon {
    
}

.docIcon img {
    width:48px;
    height:60px;
  
}

.textLink {
    color:$button-color;
    margin-bottom:58px;
    display:block;
   
}

// .skillset {
//     display:inline-block;
//     width:30%;
//     box-sizing: border-box;
//     vertical-align: top;
// }

// .skillTable {

//     margin:0;
//     padding:0;
// }

// .skillTable .header {
//     font-weight: bold;
// }
// .skillTable td {
//     padding:4px;
//     padding-right:10px;
//     border-bottom:1px solid #dddddd;
// }
// .skillTable tr {
//     margin:0;
//     padding:0;
// }

// .skillTable td.years {
//     padding-right:50px;


// }

.skillRow1 {
    display:grid;
    grid-template-columns: 60% 40%;
    margin-bottom:20px;
}

.skillRow2 {
    display:grid;
    grid-template-columns:1fr;
}

.skillCol {
    margin-right:14px;
}
.skillCol1 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.skillCol2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.skillCol2b {
    display:grid;
    grid-template-columns: 45% 55%;
}
.skillTitle {
    background-color:#dddddd;
    padding:4px;
    font-weight: bold;

}
.skill {
    padding-left:4px;
    border-bottom:1px solid #dddddd;
    padding-bottom:4px;
    margin-right:20px;
}
.year {
    border-bottom:1px solid #dddddd;
    padding-bottom:4px;
}

.lastrow {
    margin-top:20px;
}

.externalpill {
    margin-left:20px;
    margin-right:20px;
    background-color:rgb(61, 163, 186);
    padding:3px;
    border-radius:16px;
    text-transform: uppercase;
    font-weight:400;
    color:white;
    padding-left:14px;
    padding-right:14px;
    letter-spacing: .02em;
}

.project {
    vertical-align: top;
    padding-right:0px;
    box-shadow:0 0 8px $button-color;
    border-radius:12px;
    padding:16px;
    margin-bottom:20px;
    font-size:17px;
    line-height: 1.5em;
}

.projects {
    display:grid;
    grid-template-columns: 1fr;
}


.pbutton {
    margin:0;
    display:inline-block;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color:$button-color;
    padding:4px;
    padding-left:8px;
    padding-right:8px;
    text-transform: uppercase;
    font-size:18px;
    color:white;
    border-radius:8px;
    user-select:none;
    cursor:pointer;
    text-align:center;
    margin-right:10px;
    margin-bottom:10px;
    position:relative;
    margin-top:14px;
    min-width:110px;
  }
  
  .pbutton:hover {
    background-color:$button-hover;
  }
  
  .pbutton:active {
    border:0;
    outline:0;
    background-color:$button-active;
  }
  
  .pbutton:focus {
    border:0;
    outline:0;
    background-color:$button-focus;
  
  }
  .pbutton.visible{
    left:0px;
    opacity:1;
  }

  .projectTitle {
      color:$button-darker;
      border-bottom:2px solid $button-darker;
      padding-bottom:0;
      padding-top:14px;
  }
  .clientlist {
     
      margin-left:0%;
      margin-bottom:20px;
  }

  .experience {
      display:grid;
      grid-template-columns: 30% auto;
      column-gap:10px;
  }

  .logoBox {
     
  }

  .logoBox img {
      width:100%;
  }

  .education {
      display:grid;
      grid-template-columns: 100px auto;
  }
  .education ul {
      list-style: none;
  }
  .education ul li {
    margin-bottom:10px;
    min-height:70px;
  }

  .edLogos {
      width:100px;
  }

  .edLogos img {
      width:100%;
  }

  @media only screen and (min-width: 680px) {
    .clientlist {
        margin-left:30%;
    }

    .clients {
        display:grid;
        grid-template-columns: 1fr;
    }
  }
@media only screen and (min-width:950px) {

    .skillRow1 {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .skillRow2 {
        display:grid;
        grid-template-columns: 55% 45%;
    }
    .lastrow {
        margin-top:0px;
    }

    .resumeBox {
     
    }

    .clientlist {
     
        margin-left:0%;
    }

    .clients {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .project {
        vertical-align: top;
        padding-right:30px;
    }

    .projects {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
    }

    .experience {
        display:grid;
        grid-template-columns: 160px auto;
        column-gap:10px;
    }
}
