
@import "../Colors.scss";

.contactButtons {
    text-align: left;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:-70px;
}
.resumeBox {
    color:black;
    margin:auto;
    text-align:left;
    font-family: futura-pt, sans-serif;
    padding-bottom:80px;
    margin-top:0;
    display:inline-block;
    box-sizing: border-box;
    padding-top:40px;

}

.clientList {
    column-count:1;
}
.livewebsiteList {
    column-count:1;
}

.endorse {
    margin-top:120px;
}

.resumeBox h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size:54px;
    letter-spacing:-.035em;
    margin:0;
    padding:0;
    line-height:1em;
    margin-top:0px;
    padding-top:30px;
}

.resumeBox h2 {
    padding:0;
    margin:0;
    line-height:1em;
    margin-top:10px;
    margin-bottom:18px;
    font-family: futura-pt, sans-serif;
    font-size:24px;
    font-weight: 600;
}

.resumeBox h3 {
    padding:0;
    margin:0;
    line-height:1em;
    margin-top:36px;
    margin-bottom:18px;
    font-family: futura-pt, sans-serif;
    font-size:20px;
}

.resumeBox ul {
    list-style:square;
    margin:0;
    padding:0;
}

.resumeBox ul li {
    margin-left:30px;
    font-size:18px;
    line-height:24px;
    font-family: futura-pt, sans-serif;
}
.resumeLink {

}

.resumeLink:hover {
  
}

.resumeBox p {
    font-size:18px;
    line-height:24px;
    margin-top:0;
    padding-top:0;
    font-family: futura-pt, sans-serif;
}

.emailLinker {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding-right:10px;
}

.emailLinker img {
    width:54px;
    margin-right:2px;
    opacity:.3;
}

.emailLinker:hover {
   
}

.emailLinker:hover img {
    opacity:1;
}
.pdfLink {

    text-align: center;
    color:$button-color;
    display:inline-block;
    float:right;
    margin-bottom:10px;
}

.googleLink {
    text-align: center;
    display:inline-block;
    float:right;
    color:$button-color;
    margin-bottom:10px;
    position:relative;
    left:20px;
    margin-right:10px;
}
.docIcon {
    
}

.docIcon img {
    width:48px;
    height:60px;
  
}

.textLink {
    color:$button-color;
    margin-bottom:58px;
    display:block;
   
}


@media only screen and (min-width:740px) {



}
