
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');


.tcBox {
    background-color:rgb(248,248,248);
    padding:20px;
    width:100%;
    color:black;
    margin:auto;
    text-align:left;
    padding-left:50px;
    padding-right:50px;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-family: 'Rubik', serif;
    box-shadow:0 0 28px rgb(146, 183, 194);
    padding-bottom:80px;
    margin-bottom:180px;
    margin-top:20px;
    display:inline-block;
    box-sizing: border-box;
    padding-top:60px;
    max-width:1050px;
}


.tcBox h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size:54px;
    letter-spacing:-.035em;
    margin:0;
    padding:0;
    line-height:1em;
    margin-top:50px;
    padding-top:0px;
}

.tcBox h2 {
    padding:0;
    margin:0;
    line-height:1em;
    margin-top:10px;
    margin-bottom:18px;
    font-family: futura-pt, sans-serif;
    font-size:24px;
    font-weight:600;

}

#tcH2 {
    text-transform: uppercase;
    color:#7ebcd4;
    font-size:34px;
    font-weight:500;
    letter-spacing:-.03em;
    border-bottom:4px solid rgba(126, 188, 212,.4);
}

.tech {
    border-bottom:1px dashed rgb(146, 183, 194);
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    font-family: futura-pt, sans-serif;
}

.techName {
    display:inline-block;
    width: 18%;
    min-width:92px;
}
.techShield {
    display:inline-block;
    padding-right:20px;
    min-width:40px;
}
.techYears {
    display:inline-block;
    width: 18%;
    min-width:90px;
  
}
.techProject {
    display:inline-block;
    width: 50%;
  
}

.label {
    font-weight:bold;
}
.alt {
    background-color:rgba(126, 188, 212,.25);
}

@media only screen and (min-width:740px) {

}

